#glowa {
    
}
footer {
    background: rgb(230, 154, 88);
    max-width:120vw;
    max-height: 10vh;
    clear: both;
}
#foto {
    max-width: 40vw;
    max-height: 40vh;
}
#diagnostyka {
    vertical-align:top;
    border:solid 1px #888;
    padding:10px;
}
#left {
    border: 1px solid red;
    height: 500px;
    float: left;
    width: 45%;
    text-align: justify;
}
#right {
    border: 1px dotted blue;
    height: 500px;
    float: right;
    width: 45%;
    text-align: justify;
}
.blink{
		width:200px;
		height: 50px;
	    background-color: magenta;
		padding: 15px;	
		text-align: center;
		line-height: 50px;
	}
	span{
		font-size: 25px;
		font-family: cursive;
		color: white;
		animation: blink 1s linear infinite;
	}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}
