<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div style="background: rgb(253, 204, 164);width: 100%;height: auto;text-align: center;padding-top: 25px; padding-bottom: 25px; font-size: x-large; font-weight: bolder">
            Planowanie zakupów z wyprzedzeniem</br>jako klucz do strategii.</br></br><span style="text-decoration: underline;" th:text="${appFullName}"></span>
        </div>
        <div align="center">
            <h1>Edytuj listę</h1>
            <br />
            <h4 style="text-align: center">Aby zmienić nazwę listy wpisz nową nazwę</h4>
            <form action="#" th:action="@{/update}" th:object="${list}"
                  method="post">
                <table border="0" cellpadding="10">
                    <tr>             
                        <td>ID Listy:</td>
                        <td>
                            <input type="text" th:field="*{id}" readonly="readonly" />
                        </td>
                    </tr>        
                    <tr>             
                        <td>Nazwa listy:</td>
                        <td>
                            <input type="text" th:field="*{name}" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><center><button type="submit">Zapisz</button></center></td>
                    </tr>
                </table>
            </form>
            <h2 style="text-align: center">Aby dodać przedmiot do listy kliknij <a style="color:red" th:href="@{additemtolist/add(list_id=${id})}">DODAJ PRODUKT</a></h2>
        </div>
        <div style="text-align: center;padding-top: 25px; padding-bottom: 25px; font-size: small; background: rgb(253, 204, 164);">
            Wykonanie 2023 Anna Drobek & Radosław Biereta
        </div>
    </body>
</html>
