<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title th:text="${managelistName}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div style="background: rgb(253, 204, 164);width: 100%;height: auto;text-align: center;padding-top: 25px; padding-bottom: 25px; font-size: x-large; font-weight: bolder">
            Planowanie zakupów z wyprzedzeniem</br>jako klucz do strategii.</br></br><span style="text-decoration: underline;" th:text="${appFullName}"></span>
        </div>
        <div align="center">
            <h1>Zarządzanie listami</h1>
            <a href="/add">Stwórz listę</a>
            <br/><br/>
            <table border="1" cellpadding="10" style="margin-bottom: 25px;">
                <thead>
                    <tr>
                        <th>ID Listy</th>
                        <th>Nazwa</th>
                        <th>Data utworzenia</th>
                        <th>Data modyfikacji</th>
                        <th>Dostępne akcje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="lists : ${listOfLists}">
                        <td th:text="${lists.id}">ID listy</td>
                        <td th:text="${lists.name}">Nazwa</td>
                        <td th:text="${lists.creationDate}">Data utworzenia</td>
                        <td th:text="${lists.modifyDate}">Data modyfikacji</td>
                        <td>
                            <a th:href="@{'/getAllItemsOnListById/'+${lists.id}}">Pokaż listę</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/showQR/'+${lists.id}}">Pokaż kod QR</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/edit/'+${lists.id}}">Edytuj</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/delete/'+${lists.id}}">Usuń</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align: center;padding-top: 25px; padding-bottom: 25px; font-size: small; background: rgb(253, 204, 164);">
            Wykonanie 2023 Anna Drobek & Radosław Biereta
        </div>
    </body>
</html>